header 
{background: #5C4F56;
   padding: 10px 0; 
    
}

.caixa {
   display: flex;
   align-items: center;   
    justify-content: space-between;
    
}
nav ul {
    display: flex;
    align-items: center;
    padding: 60px;
    
}
nav li {
    
    margin: 0 0 0 15px;
    
}

nav a {text-transform: uppercase;
    
    color:#FFEBA1;
    font-weight: bold;
    font-size: 27px;
text-decoration: none;
}


.produtos
{  
    display: flex;
    flex-wrap: wrap;
    
    padding: 50px 0;

}
.produtos li{
    
    text-align: center;
    width:21%;    
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;

    }

@media screen and (max-width:800px) {
.produtos li {
    width:90%; 
}
    
}    

.produtos h2{
    font-size: 30px;
    font-weight: bold;
    color: #5C4F56;

}


.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    color: #5C4F56;
    text-align: center;
}
footer{
    
    text-align: center;
    background: #5C4F56;
    padding: 40px;
}

.copyright {
color:#FFEBA1;


}
